.control-box {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;

  /* added this to prevent chrome shitty behavior with rendering dom over canvas */
  background-color: #00000010;

  height: 100%;
  width: 100%;

  font-weight: bold;

  font-size: 15vmin;

  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
}

button {
  width: 15vmin;
  height: 15vmin;
  margin: 5vmin;
  background-position: center;
  background-size: cover;
  border: none;
  background-color: transparent;
}

.button-left {
  background-image: url(./images/button-left.png);
}

.button-right {
  background-image: url(./images/button-right.png);
}
.button-restart {
  background-image: url(./images/button-restart.png);
}
