.message-box {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* added this to prevent chrome shitty behavior with rendering dom over canvas */
  background-color: #00000010;

  height: 100%;
  width: 100%;

  font-weight: bold;

  font-size: 15vmin;

  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
}

.message-fail,
.message-win {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: 1000ms ease-in-out;
}

.message-fail[hidden],
.message-win[hidden] {
  display: block;
  opacity: 0;
  transform: scale(0.4);
}

.message-fail {
  color: red;
}

.message-win {
  color: white;
}
