@import url("https://fonts.googleapis.com/css?family=Russo+One");

@import "message-box.css";
@import "control-box.css";

body {
  margin: 0;
  overflow: hidden;
  font-family: "Russo One", sans-serif;
}
canvas {
  width: 100%;
  height: 100%;
}
